.btn-container, h1 {
  text-align: center;
  color: black;
}

.mat-typography p {
  margin:10px;
}


.login {
  margin-top: -156px;
}

.ok {
  float: right;
}

.cancel, .ok {
  margin-top: 20px;
}
