.add {
  height: 220px;
  width: 220px
}  

.cancel {
    float: left;
}

.ok {
    float: right
}

.mat-radio-button {
    margin-left:10px ;
    margin-top: 10px;
}

.serviceOption, .serviceField {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dob, .passportNo {
    margin-top: 5px
}

li {
  list-style-type: none;
}

ul {
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 14px;
}

  .form {
      margin-left: 20px;
      margin-right:20px
  }

  h3, .label {
      text-align: center;
  }



