.delete{
      height: 220px;
      width: 220px
  }

  .deleteform {
      margin-bottom: 30px;
      margin-left: 20px;
      margin-right:20px;
  }

  .cancel {
      float: left;
  }

  .ok {
      float: right
  }

  h3 {
    text-align: center;  
  }
