.title {
    width: 100%;
}

.title > h3 {
    text-align: center;
    padding-top: 10px;
}

.material-icons {
    font-size: 45px
}

.header {
    background-color: #ffd740; 
    border:1px solid black;
   // position: fixed;
    // top:0;
    // right:0;
    // left:0;
    // bottom: 0;
}

