<div class="update">
    <h3>Update details for passenger {{data.passData.name}}:</h3>

    <section class = "form">
        <form [formGroup]="updateForm">
            <mat-form-field appearance="outline" *ngIf = "!isAirline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" (change)="getInputValue($event, 'Name')">
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf = "!isAirline">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" (change)="getInputValue($event, 'Address')">
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf = "status ==='checkIn'">
                <mat-label>Seat number</mat-label>
                <input matInput formControlName="seatNo" (change)="getInputValue($event, 'seatNo')">
            </mat-form-field>
            <mat-form-field appearance="outline" *ngIf = "!isAirline">
                <mat-label>Shopping Items</mat-label>
                <mat-select formControlName="item" name="items"  (selectionChange)="onShoppingListChange($event)">
                    <mat-option *ngFor="let item of items" [value]="item">
                      {{item.itemName}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <div class = "serviceField" *ngIf="status === 'inFlight'">
                <mat-radio-group formControlName="mealType" (change) = "getMealType($event)">
                    <mat-label class = "label">Special Meals:</mat-label>
                    <div>
                        <mat-radio-button value="Veg">
                            Veg
                        </mat-radio-button>
                        <mat-radio-button value="Non-veg">
                            Non-Veg
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
            </div>
            <div class="serviceField" *ngIf = "!isAirline">
                <mat-label class = "label">Ancillary Services:</mat-label>
                <ul formArrayName="serviceName">
                    <li *ngFor="let service of updateForm.controls.serviceName.controls; let i=index">
                        <mat-checkbox [formControlName]="i" name = {{service.value.serviceName}} [checked] = "service.value.checked" (change)="getServiceName($event)">
                            {{service.value.serviceName}}
                         </mat-checkbox>
                    </li>
                </ul>
            </div>
            <div class="serviceField" *ngIf = "!isAirline">
                <mat-radio-group formControlName="passport" (change)="getPassportDetails($event)">
                    <mat-label class = "label">Do you have a passport?</mat-label>
                    <div>
                        <mat-radio-button value="No">
                            No
                        </mat-radio-button>
                        <mat-radio-button value="Yes">
                            Yes
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
                <div *ngIf="updateForm.get('passport').value === 'Yes'" class="passportNo">
                    <mat-form-field appearance="outline">
                        <mat-label>Passport Number</mat-label>
                        <input matInput formControlName="passportNo" (change)="getInputValue($event, 'passportNo')">
                    </mat-form-field>
                </div>
            </div>
        </form>
        <button class="cancel" mat-stroked-button color="warn" (click)="cancel()">Cancel</button>
        <button class="ok" mat-stroked-button color="primary" [mat-dialog-close]="modalData">Ok</button>
    </section>
</div>
