.mat-header-cell, .mat-cell {
    padding-right: 24px;
    text-align: center;
}

.operation {
    float: left;
    margin: 10px;
  }

img {
      margin: 60px;
      vertical-align: middle;
      width:365px;
}

.details {
  padding-left: 180px;
}
